<form action="/puppys/{{id}}?_method=put" method="POST">
    <input type="text" name="title" placeholder="Name">
    <input type="text" name="breed" placeholder="Breed">
    <input type="text" name="favoritetoy" placeholder="Favorite Toy">
    <input type="submit" placeholder="Update">
</form>