<h2>NEW PUPPERS!</h2>

<form action="/puppys" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="breed" placeholder="breed">
    <input type="text" name="favorite toy" placeholder="favorite toy">
    <input type="submit" value="Save">
</form>