body {
  background-color: lemonchiffon;
  margin: auto 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 1000px;
}

h1 {
  font-family: "Indie Flower", cursive;
  text-align: center;
  border: groove;
  border-width: 10px;
  border-color: rgba(192, 192, 192, 0.507);
  border-radius: 50px;
  padding: 10px;
  font-size: 80px;
}

h2 {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 40px;
  width: 1000px;
}

p {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 24px;
  justify-content: center;
  padding: 7px;
}

.pups {
  border: groove;
  border-color: silver;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px;
  width: 260px;
  height: 160px;
  text-align: center;
}

.life {
  font: bold 11px Arial;
  text-decoration: none;
  padding: 3px;
}

.life a {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
  border-radius: 8px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  height: 20px;
  justify-content: center;
}

.buttonz {
  font: bold 11px Arial;
  text-decoration: none;
  padding: 5px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.buttonz form input {
  font: bold 11px Arial;
  border: solid;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
  background-color: #d4d4d485;
}

.buttonz a {
  border: solid;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
  background-color: #d4d4d485;
}
