<h2>NEW PUPPERS!</h2>

<form action="/puppys" method="post">
    <input type="text" name="title" placeholder="Name">
    <input type="text" name="breed" placeholder="Breed">
    <input type="text" name="favoritetoy" placeholder="Favorite toy">
    <input type="submit" value="Save">
</form>